.wrapper{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #1B1B1B;
    max-width: 790px;
    line-height: 19px;
    padding: 2% 2%;
    font-size: 16px;
}

.left-content{
    padding-left: 8px;
}

.content-none{
    width: 8px;
}

/* header */
header .header-email{
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: #CECECE 1px solid;
    align-items: center;
    position: relative;
}

header .header-email .logo-header{
    max-width:230px;
}

header.header-email .id-header{
    font-weight: 700;
} 

header .header-email .id-header .tagline-id{
    color: #9E9E9E;
    text-transform: uppercase;
    font-size: 18px;
    text-align: end;
    font-weight: 700;
    margin-bottom: 4px;
}
header .header-email .id-header .id-booking{
    color:#213E7A;
    text-align: end;
    font-size: 24px;
    font-weight: 700;
}

/* content */
.content{
    padding: 3% 4% 3% 4%;
    text-align: left;
    position: relative;
}

.content .content-summary{
    border-bottom: #CECECE 1px solid;
}

.content .content-summary p{
    margin-bottom: 16px;
}

.content table{
    width: 100%;
}

.content .content-detail{
    margin:24px 0px;
    font-weight: 700;
}

.content .content-detail h2{
    font-size: 20px;
    color: #213E7A;
    margin-bottom: 20px;
}
.content .content-detail table{
    font-weight: 700;
}

.content .content-detail .header-table{
    margin-bottom: 16px;
    font-size: 12px;
} 

.content .content-detail .content-table{
    margin-bottom: 12px;
    font-size: 14px;
    color: #213E7A;
}

.content .content-journey .header-table th{
    padding: 6px 0px;
}


.content .content-journey .last-table{
    padding-left: 16px;
}

.content .content-journey .last-table div{
    display: flex;
    justify-content: space-between;
}

.content .content-journey .body-journey.badges td{
    align-items: center;
    vertical-align: middle;
    font-weight: 700;
    font-size: 11px;
}

.content .content-journey .body-journey td{
    padding-top: 16px;
    align-items: center;
    padding-left: 6px !important;
}

/* timeline */
.content .content-journey .body-journey .timeline{
    position: relative;
    padding: 8px;
}
.content .content-journey .body-journey .body-timeline::after{
    content: '';
    position: absolute;
    width: 2px;
    background-color: #929292;
    bottom: 0;
    top: 30px;
    left: 50%;
    margin-left: -3px;
    margin: 12px 0px;
    z-index: 1;
    vertical-align: middle;
}

.content .content-journey .body-journey .body-timeline .node::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50% ;
    margin-left: -5px;
    background-color: white;
    border: 1px solid #929292;
    top: 42px;
    border-radius: 50%;
    z-index: 2;
}

.content .content-journey .body-journey .body-timeline .node.last::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50% ;
    margin-left: -5px;
    background-color:#F7951C;
    border: 1px solid #929292;
    top: calc(46px + (40px *1));
    border-radius: 50%;
    z-index: 2;
}

.content .content-journey .header-table th {
    font-size: 14px;
    font-weight: 700;
    border-bottom: #CECECE 1px solid;
    border-top: #CECECE 1px solid;
    margin: 8px 0px;
}

.content .content-journey .journey-style {
    line-height: 12px;
}

.content .content-journey .journey-style:last-child {
    padding-left: 0px;
}

.content .content-journey .journey-style span{
    display: block;
    margin-top: 2px;
}

.content .content-journey .journey-style img{
    max-width: 64px;
}

.content .content-journey .journey-style .time{
    font-size: 11px;
    font-weight: 700;
}

.content .content-journey .journey-style .date{
    font-size: 10px;
}

.content .content-journey .journey-style .city{
    font-size: 12px;
    font-weight: 700;
}

.content .content-journey .journey-style .station{
    font-size: 10px;
    font-weight: 400;
}

.content .content-journey .price{
    font-size: 16px;
    font-weight: 700;
}

.content .content-journey .subtotal{
    font-size: 16px;
    font-weight: 700;
}

.content .content-journey .subtotal td{
    padding-top: 40px;
    padding-bottom: 16px;
}

.content .content-journey .subtotal .description{
    text-align: end;
}
.content .content-journey .subtotal .description span{
    display: block;
}

.content .content-journey .total td{
    background-color: #213E7A;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 16px;
}

.content .content-info-payment{
    margin-top: 16px;
}

.content .content-info-payment h2{
    font-size: 14px;
    color: #213E7A;
    font-weight: 700;
    margin-top: 24px;     
}

.content .content-info-payment .head span{
    font-size: 12px;
    display: block;
}

.content .content-info-payment .head span:first-child{
    font-weight: 700;
    font-size: 12px;
    margin-top: 24px;
}
.content .content-info-payment .head span:last-child{
    font-size: 12px;
    margin-top: 8px;
}

.content .content-info-payment .signature {
    margin-top: 40px;
    margin-bottom: 34px;
}

.content .content-info-payment .signature span:last-child{
    font-weight: 700;
}

/* footer */
footer{
    min-width:100% ;
    background-color: #213E7A;
    padding: 2% 4%;
    color: white;
    font-size: 17px;
}

footer ul{
    display: flex;
    justify-content: space-between;
}

footer ul li{
    display: flex;
    align-items: center;
    padding-left: 8px;
}

footer ul li:last-child{
    display: flex;
    align-items: center;
    padding-left: 0;
}

footer ul span img{
    margin-right: 6px;
    display: flex;
    align-items: center;
    width: auto;
}