.wrapper{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #1B1B1B;
    max-width: 782px;
    line-height: 19px;
    padding: 2% 5%;
}

header .header-email{
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: #CECECE 1px solid;
    align-items: center;
    position: relative;
}

header .header-email .logo-header{
    max-width:230px;
}

header.header-email .id-header{
    font-weight: 700;
} 

header .header-email .id-header .tagline-id{
    color: #9E9E9E;
    text-transform: uppercase;
    font-size: 18px;
    text-align: end;
    font-weight: 700;
    margin-bottom: 2px;
}
header .header-email .id-header .id-booking{
    color:#213E7A;
    text-align: end;
    font-size: 24px;
    font-weight: 700;
}


.content{
    padding: 2% 4% 3% 4%;
    text-align: left;
}

footer{
    background-color: #213E7A;
    padding: 2% 9%;
    color: white;
    font-size: 18px;
}

footer ul{
    display: flex;
}

footer ul {
    justify-content: space-between;
}

footer ul li{
    display: flex;
    align-items: center;
}

footer ul span img{
    margin-right: 8px;
    display: flex;
    align-items: center;
    width: auto;
}