.wrapper{
    font-family: "Arial", sans-serif;
    font-weight: 400;
    color: #1B1B1B;
    max-width: 596px;
    line-height: 19px;
    padding: 2% 5%;
    font-size: 8px;
}


.line-height-middle{
    line-height: 9px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

header{
    padding-bottom: 8px;
    border-bottom: #CECECE 1px solid;
}


header .header-email{
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
    position: relative;
    padding: 5% 4%;
}

header .header-title{
    text-align: start;
    font-size: 12px;
    font-weight: 700;
    font-size: 12px;
    color:#223F77;
}

header .header-email .logo-header{
    max-width:180px;
}

header .header-email .id-header img{
    max-width: 96px;
    height: 40px;
}

.content {
    padding: 2% 4% 3% 4%;
    text-align: left;
}

.content table{
    min-width: 100%;
}
.content .departure {
    border-top: solid 2px #DDDDDD;
    border-bottom: solid 2px #DDDDDD;
}

.content .body-journey td{
    vertical-align: middle;
    margin: auto;
    padding: auto;
}

.content .body-journey td:first-child span{
    display: block;
}

.content .body-journey .badges ul{
    display: flex;
    text-align: start;
    padding: auto;
}

.content .body-journey .badges ul li{
    padding-right: 4px;
}

.content .body-journey .barcode span{
    font-size: 7px;
}
.content .body-journey .barcode h4{
    font-size: 10px;
    font-weight: 700;
}

.content .body-journey .barcode span img{
    max-width: 150px;
}

.content .body-journey .place span{
    display: block;
}

.content .reminder{
    border-top: solid 2px #DDDDDD;
    border-bottom: solid 2px #DDDDDD;
}

.content .reminder td {
    padding-top: 14px;
    padding-bottom: 14px;
    vertical-align: middle;
}

.content .reminder .space-contain{
    display:table;
    min-width:100%;
    height:auto;
    padding: 4px 6px;
    border-right: 1px solid #DDDDDD;
    margin-right: 8px;
}

/* .content .reminder .space-contain:nth-last-child(1){
    border-right: none;
} */
.content .reminder .space-contain.last-contain{
    border-right: none;
}


.content .reminder .space-contain .text {
    display:table-cell;
    vertical-align:middle;
    height:100%;
    padding: 0px 8px;
}

.content .reminder td div{
    display: inline;
    min-height: 100%;
}

.content .reminder td.first-barcode div img{
    max-width: 24px;
    margin-left: 0px;
}

.content .reminder td div img{
    max-width: 24px;
    margin-left: 12px;
    float: left;
    height: auto;
}

.content .policy {
    margin-top: 2px;
    font-weight: 700;
    font-size: 9px;
    line-height: 14px;
}

.content .policy .visit{
    margin-top: 4px;
}

.content .policy .require{
    margin-top: 12px;
}
.content .policy .ol {
    margin-top: 2px;
}   
.content .policy .require-link {
    margin-top: 12px;
} 

/* non-refund */
.non-refund {
   min-width: 100%;
   padding: 8px 0px;
   text-align: center;
   background-color: #BFC3D9;
   color: #424242;
   margin-top: 110px;
   margin-bottom: 10px;
}


footer{
    background-color: #213E7A;
    padding: 2% 9%;
    color: white;
    font-size: 9px;
    margin: 0% 4%;
}

footer ul{
    display: flex;
}

footer ul {
    justify-content: space-between;
}

footer ul li{
    display: flex;
    align-items: center;
}

footer ul span img{
    margin-right: 8px;
    display: flex;
    align-items: center;
    width: auto;
}